@keyframes fadeInOut {
  0% {
    opacity: 0;
    background-position: 0 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-position: 0 100%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#container {
  height: 100%;
  overflow: hidden;
}
#content {
  overflow-y: auto;
  overflow-x: hidden;
  transition: background-color 500ms $easeInOutQuart;
  background-color: $c-purp;
  padding-bottom: 250px;
}
#content > * {
  position: relative;
}
#content:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
}
.is-switched #content {
  background-color: $c-red;
}
.is-switching-next, .is-switching-prev, .is-switching-parent, .is-switching-children {
  #content {
    &:before {
      background: linear-gradient(180deg, $c-purp 0%, $c-red 100%);
      animation-name: fadeInOut;
    }
  }
}

