.scene {
  position: relative;
  margin-top: 1rem;
  width: 100%;
}

#story-tree-animation {
  width: 100%;
  max-width: 700px;
  max-height: 60vh;
}

#bubble__one,
#bubble__two,
#bubble__main,
#bubble__main--text,
#seed,
#sprout__stem--main,
#sprout__stem--left,
#sprout__stem--right,
#sprout__leaf--left,
#sprout__leaf--right,
#sprout__bud,
#connector__base--left,
#connector__base--center,
#connector__base--right,
#connector__secondarybranch--left,
#connector__secondarybranch--center,
#connector__secondarybranch--right,
#connector__secondaryroot--left,
#connector__secondaryroot--center,
#connector__secondaryroot--right,
#connector__tertiaryout--left,
#connector__tertiaryout--right,
#connector__tertiaryup--left,
#connector__tertiaryup--right,
#story__prime--field,
#story__prime--text,
#story__primary--left__field,
#story__primary--left__text,
#story__primary--center__field,
#story__primary--center__text,
#story__primary--right__field,
#story__primary--right__text,
#story__secondary--rr__field,
#story__secondary--rr__text,
#story__secondary--rl__field,
#story__secondary--rl__text,
#story__secondary--cl__field,
#story__secondary--cl__text,
#story__secondary--cr__field,
#story__secondary--cr__text,
#story__secondary--ll__field,
#story__secondary--ll__text,
#story__secondary--lr__field,
#story__secondary--lr__text,
#story__tertiary--ll__field,
#story__tertiary--ll__text,
#story__tertiary--lr__field,
#story__tertiary--lr__text,
#story__tertiary--rl__field,
#story__tertiary--rl__text,
#story__tertiary--rr__field,
#story__tertiary--rr__text
{
  opacity: 0;
}


