.c-skribble-manager {
  width: 100%;
  max-width: 30rem;
  height: 100%;
  .parent-container {
    display: flex;
  }
  .current-container {
    position: absolute;
    top: 5rem;
  }
  .control-container {
    position: absolute;
    top: 90%;
    left: 0;
  }
  /*.new-container {*/

  /*}*/
}
