.c-skribble-manager {
  position: relative;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  margin-top: 5rem;
  .parent-container {
    position: absolute;
    top: 0;
    max-width: 100%;
    transform: translateY(-100%);
  }
  .current-container {
    position: absolute;
    top: 0;
    max-width: 100%;
  }
  .control-container {
    position: fixed;
    bottom: 5rem;
    opacity: 0.5;
  }
  /*.new-container {*/

  /*}*/
}
