.c-skribble-manager {
  position: relative;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  margin-top: 6rem;
  .parent-container {
    position: relative;
    max-width: 100%;
    transform: translateY(-100%);
    .parent-skribble {
      display: inline;
    }
  }
  .main-container {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .current-container {
    max-width: 100%;
  }
  .new-container {
    width: 100%;
    textarea {
      border: none;
      height: 6rem;
    }
  }
  .control-container {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
}
.is-adding-skribble {
  #navigation {
    display: none;
  }
  .control-container {
    display: none;
  }
}
