.new-container {
  width: 100%;
  transition: all 400ms $easeInOutQuart;
  .btn-group {
    visibility: hidden;
  }
  textarea {
    border: none;
    height: 6rem;
  }
}
.c-skribble-manager {
  position: relative;
  width: 100%;
  width: 70%;
  max-width: 30rem;
  height: 20rem;
  margin-top: 6rem;
  .parent-container {
    position: relative;
    max-width: 100%;
    transform: translateY(-100%);
    .parent-skribble {
      display: inline;
    }
  }
  .main-container {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .current-container {
    max-width: 100%;
  }
  .ui-prev-button, .ui-next-button, .ui-children-button, .ui-parent-button {
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: all 400ms;
  }
  .ui-prev-button {
    position: absolute;
    top: 0;
    left: -5rem;
    transform: rotate(180deg);
  }
  .ui-next-button {
    position: absolute;
    top: 0;
    right: -5rem;
  }
  .ui-parent-button {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, -5rem, 0) rotate(-90deg);
  }
  .ui-children-button {
    position: fixed;
    left: 50%;
    bottom: 5rem;
    transform: translate3d(-50%, 0, 0);
  }
}

.is-no-previous .ui-prev-button {
  opacity: 0;
  visibility: hidden;
}
.is-no-next .ui-next-button {
  opacity: 0;
  visibility: hidden;
}
.is-no-parent .ui-parent-button {
  opacity: 0;
  visibility: hidden;
}
.is-no-children .ui-children-button {
  opacity: 0;
  visibility: hidden;
}
