/* Components | Current Skribble
   ========================================================================== */

.c-current-skribble {
  width: 30rem;
  padding: 1rem;
  background-color: white;
}
.c-current-skribble__content {

}
.c-current-skribble__meta {

}
