/* Components | Skribble Control
   ========================================================================== */

.c-skribble-manager {
  width: 30rem;
  max-width: 100%;
  height: 500px;
  padding: 1rem;
  background-color: white;
}
.c-skribble-manager__content {

}
.c-skribble-manager__meta {

}
