/* Components | Skribble Control
   ========================================================================== */

.c-skribble-control {
  width: 30rem;
  max-width: 100%;
  padding: 1rem;
  background-color: white;
}
.c-skribble-control__content {

}
.c-skribble-control__meta {

}
